#header{
    margin: 0 auto;
    display: flex;
    background-color: rgb(62, 63, 65);
    height:10vh;
    width:100vw;
   /*  align-content: center; */
    color:white;
}
#logo{
    display: block;
    margin-left:100px;
    padding:5px;
    width: 100px;
}
#content{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 50px;
}
.info{
    margin-left: 300px;
    display: block;
    padding-top:5px;
    text-align: center;
}
.info:hover {
    color: aqua;
    cursor: pointer;
}
 #register{
    margin-left: 570px;
}  



