#data{
    height: 80vh;
    background-color: yellow;
    display:flex;
    flex-direction: column;
    gap:10px;
}

#infoData{
    border-radius: 10px;
    align-content: center;
    margin-left:500px ;
    width: 60vw;
    height:30vh;
    background-color: blue;
    color: white;
}
#name{
    margin-left: 300px;
}
#apellido{
    margin-left: 600px;
}
#apellidoI{
    margin-left: 465px;
}
#dni{
    margin-left: 525px;
}
#dniT{
    margin-left: 300px;
}
#dniTS{
    margin-left: 300px;
}
#dniI{
    margin-left: 590px;
}
#infoContact{
    border-radius: 10px;
    align-content: center;
    margin-left: 500px;
    width: 60vw;
    height: 30vh;
    background-color: blueviolet;
    color: white;
}
h3{
    text-align: center;
}
#email{
    margin-left: 300px;
}
#emailC{
    margin-left: 600px;
}
#emailI{
    margin-left: 300px;
}
#emailIC{
    margin-left: 465px;
}
