#PosicionHeader {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ff22c0;
  height: 10vh;
  width: 100vw;
  align-content: center;
}

#ContenidoPagina {
  background-color: rgb(255, 255, 253);
  display: grid;
  height: 200vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'BarraBuscar BarraBuscar BarraBuscar '
    'BarraBuscar BarraBuscar BarraBuscar '
    '. Contenido .'
    '. . .'
    '. Promociones .'
    '. . .';
}

#BarraBuscar {
  margin-top: -51px;
  grid-area: BarraBuscar;
  width: 100%;
  height: 100%;
}

#BarraBuscar2 {
  background-image: url('../../../img/avion-transformed\ \(2\).webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: rgb(68, 139, 139);
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

#BarraBuscar3 {
  width: 1500px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(117, 227, 247, 0.753);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

#Lupa {
  grid-area: Lupa;
  width: 50px;
  height: 25px;
}

#Content {
  grid-area: Contenido;
  margin-top: 80px;
  width: 1500px;
  height: 120%;
  background-color: rgba(117, 227, 247, 0.753);
  border-radius: 25px;
  place-items: center;
  place-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    'Oferta1 Oferta2 Oferta3'
    'Oferta4 Oferta5 Oferta6';
}

#Oferta1 {
  display: block;
  grid-area: Oferta1;
  width: 1500px;
  height: 10%;
  background-color: rgb(236, 236, 176);
  cursor: pointer;
  transition: all 400ms ease;
}

.Oferta:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

#Oferta2 {
  grid-area: Oferta2;
  width: 1500px;
  height: 10%;
  background-color: rgb(236, 236, 176);
}

#Oferta3 {
  grid-area: Oferta3;
  width: 1500px;
  height: 10%;
  background-color: rgb(236, 236, 176);
}

#Oferta4 {
  grid-area: Oferta4;
  width: 1500px;
  height: 10%;
  background-color: rgb(236, 236, 176);
}

#Oferta5 {
  grid-area: Oferta5;
  width: 1500px;
  height: 10%;
  background-color: rgb(236, 236, 176);
}

#Oferta6 {
  grid-area: Oferta6;
  width: 1500px;
  height: 10%;
  background-color: rgb(236, 236, 176);
}

#PosicionFooter {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 176);
  height: 10vh;
  width: 100vw;
  align-content: center;
}

#Promociones {
  grid-area: Promociones;
  margin-top: 180px;
  width: 1480px;
  height: 300px;
  background-color: rgba(117, 227, 247, 0.753);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#infoPromo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#SubPromo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#inputEmail {
  width: 25%;
}

#inputSub {
  width: 15%;
  align-self: self-end;
  margin-right: 50px;
}
