#BarraBuscar {
  grid-area: BarraBuscar;
  width: 51%;
  height: 40px;
  background-color: aqua;
  display: inline-block;
  margin-left: 24%;
  margin-top: 2%;
  place-items: end;
  place-content: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 18px;
  grid-template-areas: '. . . . . Lupa';
}

#Origen {
    font-size: 12px;
    border: 1px solid #007bff;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#Origen:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}